{% extends 'recordbook/base.html' %}
Benj Carl Samson
09352812415
123 Bulakan Bulacan Vulacan

Are you sure you want to delete this record?
Yes Cancel 

{% block content %}
	<div class="form_cont">	
		<form method="post">
			{% csrf_token %}
			{{ reg_form }}
			<input type="submit" value="Register">
		</form>
	</div>
{% endblock %}