{% extends 'recordbook/base.html' %}

{% block content %}
	<div class="del_question">
		<h2>{{ a_record }}</h2>
			<span class="small_txt">
				{{ a_record.contact }}<br/>
				{{ a_record.address }}
			</span>
		<p class="warning">Are you sure you want to delete this record?</p>
		<a class="rec_btn" href="{% url 'confirm_delete' pk=a_record.pk %}">Yes</a>
		<a class="rec_btn" href="{% url 'record_list' %}">Cancel</a>
	</div>
{% endblock %}