{% extends 'recordbook/base.html' %}

{% block content %}
	<div class="form_cont">

		<form method="post">
			{% csrf_token %}
			{{ record_form }}
			<input type="submit" value="Save" />
			<span class="cancel"><a href="{% url 'record_list' %}">cancel</a></span>
		</form>
	</div>
{% endblock %}